* {
  font-family: "Source Sans Pro", sans-serif;
}

/* Color Palette */
.dv-bg-primary {
  background-color: #00adb5;
}

@media (max-width: 440px) {
  .dv-auth-container {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    max-width: 100% !important;
    min-width: 100% !important;
  }
}

@media (max-width: 1125px) and (min-width: 800px) {
  .dv-card-prod-img {
    max-height: 207px !important;
    min-height: 207px !important;
  }
}

/* Tablet screen */

@media (max-width: 768px) and (min-width: 575px) {
  .dv-card-prod-img {
    max-height: 236px !important;
    min-height: 173px !important;
  }
}

/* Smartphone screen */

@media (max-width: 575px) {
  .rated-prod-img {
    max-width: 120px !important;
    max-height: 120px !important;
    min-width: 120px !important;
    min-height: 120px !important;
  }
  .rated-product .col-sm-8 h5 {
    margin-top: 10px;
  }
  .dv-card-prod {
    margin: 10px auto;
    max-height: 173px !important;
    max-width: 200px !important;
  }
  .dv-card-prod-img {
    max-height: 9999px !important;
  }
}

.dv-nav-bt {
  margin: 14px 0;
}

.dv-navbar-nav {
  margin: 5px;
}

.bt-dv-bg-primary:hover {
  background-color: #008991;
}

.dv-auth-logo {
  width: 100%;
  max-width: 400px;
}

.dv-auth-container {
  margin-top: 80px;
  width: 100%;
  max-width: 400px;
  min-width: 400px;
}

.dv-input-bottom {
  border: 0;
  border-bottom: 1.4px solid #00adb5;
  outline: none;
  font-size: 16px;
}

.c-item {
  height: 300px !important;
}

.rated-prod-img {
  max-width: 80px;
  max-height: 80px;
  min-width: 80px;
  min-height: 80px;
}

.dv-prod-img {
  max-height: 200px;
  max-width: 100%;
}

.dv-card-prod-img {
  max-height: 250px;
}
